<h2> Visit </h2>
<p> On this page you can.... </p>

<form action="/visit" method="POST">
  
  <div class="form-group">
    <label>Your name</label>
    <input name="client[name]" type="text" class="form-control" placeholder="Enter your name" value="">
  </div>
  
  <div class="form-group">
    <label>Your phone</label>
    <input name="client[phone]" type="text" class="form-control" placeholder="Enter your phone number" value="">
  </div>

  <div class="form-group">
    <label>Enter date and visit time</label>
    <input id="datetimepicker" name="client[datestamp]" type="text" class="form-control" placeholder="Enter your visit time" value="">
  </div>

  <div class="form-group">
  	<label>Select barber</label>
  	<select class="form-control" name="client[barber]">
      <% @barbers.each do |item| %>
        <option <%= item['name'] == @barber ? 'selected' : ''%>><%=item['name'] %> </option>
      <% end %> 
  	</select>
  </div>

  <div class="form-group">
    <label>Select color:</label> <input id="color-picker" type="text" name="client[color]" value="#333399" />
  </div>

  <button type="submit" class="btn btn-primary">Visit</button>

</form>

<script type="text/javascript">
   $(document).ready(function(){
        $('#color-picker').colorPicker();
        $('#datetimepicker').datetimepicker();
    });
</script>